@import "nullStyle.scss";

$fz: 20px;
%tmpborder {
	border-bottom: 5px dashed green;
}
.block {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 30px;
	font-size: $fz;
	line-height: 60px;
	color: green;
	span {
		color: blue;
	}
	> p {
		color: purple;
	}
	.block__text {
		font-size: $fz;
		span {
			color: blue;
		}
	}
}
.link {
	font-size: $fz;
	color: blue;
	text-decoration: underline;
	.block & {
		font-size: $fz;
	}
	@extend %tmpborder;
	&:hover {
		color: red;
	}
}
.link-2 {
	font-size: 80px;
	@extend %tmpborder;
}
