* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.text {
    color: #333333;
    line-height: 25px;

}

.bold {
    color: #333333;
    font-family: "Arial MT";
    font-size: 14px;
    font-weight: bold;
}

.red {
    color: red;
}

h1 {

    color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
}

h2 {

    color: #445161;
    font-family: "Arial MT";
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

body {
    background: #e8e8e8;
}

.content {
    max-width: 719px;
    max-height: 815px;

    margin: 75px 0 0 30px;
    /* border: 1px solid black; */
}

.content-top {
    /* border: 1px solid red; */
    margin: 0 0 30px 0;
}

.content-top__title {}

.title {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    letter-spacing: 2.8px;
}

.content-top__title__list {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.content-top__title__list li:nth-child(1) {
    text-decoration: line-through;
    color: #273d46;
    margin: 0 0 5px 0;
    font-size:20px;
    padding: 0 0 0 35px;
    background: url(/2023/css_6/css_6/img/icons/check_icon.png) left no-repeat;
}

.content-top__title__list li:nth-child(2) {
    font-weight: bold;
    color: #273d46;
    margin: 0 0 5px 0;
    font-size:20px;
    padding: 0 0 0 35px;
    background: url(/2023/css_6/css_6/img/icons/check_icon.png) left no-repeat;
}

.content-top__title__list li:nth-child(3) {
    font-style: italic;
    color: #273d46;
    margin: 0 0 5px 0;
    font-size:20px;
    padding: 0 0 0 35px;
    background: url(/2023/css_6/css_6/img/icons/check_icon.png) left no-repeat;
}

.content-top__title__list li:nth-child(4) {
    text-transform: uppercase;
    color: #273d46;
    font-size:20px;
    padding: 0 0 0 35px;
    background: url(/2023/css_6/css_6/img/icons/check_icon.png) left no-repeat;
}

.content-middle {
    /* border: 1px solid green; */
    margin: 0 0 15px 0;
}

.content-middle__list {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0 0 15px 0;
}

.content-middle__list li:nth-child(1) {
    /* border: 1px solid black; */
    padding: 0 0 0 35px;
    font-size:20px;
    margin: 0 0 5px 0;
    background-size: cov;
    background: url(/2023/css_6/css_6/img/icons/check_icon.png) left no-repeat;
}

.content-middle__list li:nth-child(2) {
    padding: 0 0 0 35px;
    margin: 0 0 5px 0;
    font-size:20px;
    background: url(/2023/css_6/css_6/img/icons/check_icon.png) left no-repeat;
}

.content-middle__list li:nth-child(3) {
    padding: 0 0 0 35px;
    margin: 0 0 5px 0;
    font-size:20px;
    background: url(/2023/css_6/css_6/img/icons/check_icon.png) left no-repeat;
}

.content-middle__list li:nth-child(4) {
    padding: 0 0 0 35px;
    font-size:20px;
    background: url(/2023/css_6/css_6/img/icons/check_icon.png) left no-repeat;
}


.content-middle__button {
    /* border: 2px solid blue; */

}

.button {
    background-color: #80b7b3;
    margin: 10px 0 15px 10px;
    width: 150px;
    height: 30px;
    border-radius: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.button:active {
    background-color: #818181;
}

.button:hover {
    background-color: #3a5856;
}

.content-bottom {
    /* border: 1px solid black; */

}

.text {
    border: 1px solid #7fbed5;
}

.text:focus {
    box-shadow: 0 0 15px rgba(127, 190, 213, 0.8);
}