* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.text {
    color: #333333;
    line-height: 25px;

}

.bold {
    color: #333333;
    font-family: "Arial MT";
    font-size: 14px;
    font-weight: bold;
}

.red {
    color: red;
}

h1 {

    color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
}

h2 {

    color: #445161;
    font-family: "Arial MT";
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

body {
    background:#273d46;
    background: url(../img/font.png) no-repeat;

}

.content {
    padding: 168px 0 137px 0;
    max-width: 841px;
    margin: 0px auto;
}

.conntent-top {
    text-align: center;
    margin-bottom: 70px;
}

.content-top__categoty {
    color: #8d989c;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin: 0 0 15px 0;


}

.content-top__title {
    color: #273d46;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 36px;
    text-align: center;
    max-width: 725px;
    margin: 0px auto;

}

.content-image {
    box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
    background-color: #fff;
    padding: 10px;
    margin: 0 0 97px 0;
}

.content-image__item {}

.content-image__item img {
    max-width: 100%;
}


.content-bottom {

    max-width: 736px;
    max-height: 257px;
    margin: auto;
}

.content-bottom__text {
    color: #5d6d73;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 24px;
    line-height: 40px;
}

.content-bottom__text p {
    margin-bottom: 50px;
}

.content-bottom-info {}

.content-bottom-info-list {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0 0 35px;
    font-size: 20px;
}

.content-bottom-info-list li {
    margin: 0 0 15px 0;
    background: url(../img/icons/check_icon.png) no-repeat;
}

.content-bottom-info-list li:nth-child(1) {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    padding: 0 0 0 35px;
    color: #273d46;
}

.content-bottom-info-list li:nth-child(2) {
    font-style: italic;
    color: #80b7b3;
    padding: 0 0 0 35px;
}

.content-bottom-info-list li:nth-child(3) {
    font-weight: bold;
    color: #273d46;
    padding: 0 0 0 35px;
}

.content-bottom-info-list li:nth-child(4) {
    text-decoration: line-through;
    padding: 0 0 0 35px;
}

.content-bottom-info-list li:nth-child(4) span {
    opacity: 0.3;
}

.content-bottom-info__limk {
    border: 1px solid black;
    border-radius: 35px;

}

.content-bottom-info__limk span {
    font-size: 50px;
}
.down{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0 0 10px 0;
    width: 230px;
    height: 50px;
    background-color:#80b7b3;
    border-radius: 30px;
    font-size: 25px;
    color: white;
    /* border: 1px solid black; */
    letter-spacing: 3px;
}
.down::after{
    content: url(../img/icons/arrow.svg);
    /* border: 1px solid black; */
        padding: 0 0 0 10px;
}
